*{
    font-family: 'Montserrat', sans-serif;
}

.nav{
    width: 80% !important;
    left: 20%;
}

.background{
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.ml{
    margin-left: 20%;
}

tr:nth-child(even) {
    background-color: #ffffff ;
}
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.bg-white{
    background: white !important;
}